.container {
  padding: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
  max-width: 100%;
  min-height: 100vh;
}

.footer {
  font-size: 16px;
  padding: 15px;
  color: #02343c;
  text-align: center;
}
.link {
  color: rgb(4, 128, 132);
}
.link:hover {
  color: #0c73a2;
}
section {
  color:#02343c;
  background-color: rgb(214, 250, 255);
  border: 1px solid #2c6974;
  border-radius: 20px;
  box-shadow: 1px 4px 2px #096a7b;
  padding: 40px;
  max-width: 80%;
  margin: 20px auto;
}