h1 {
  text-align: center;
  font-size: 50px;
}

.searchBar {
  padding: 30px 0;
}
.form-control {
  border-radius: 60px;
 
}
.btn-primary {
  background: #096a7b;
  font-size: 12px;
  text-align: center;
  border: 1px solid #1377a5;
  border-radius: 30px;
  box-shadow: 1px 1px 3px #04293a;
  transition: all 2ms ease-in-out;
}
.btn-primary:hover {
  background-color: #0c73a2;
}
.hint {
  color: #096a7b;
  font-style: italic;
  text-align: left;

}
