.Meaning h3 {
  font-size: 30px;
  text-align: center;
}
.Meaning .example {
  color: #096a7b;
  font-size: 16px;
  font-style: italic;
  opacity: 0.7;
  text-align: right;
}
.Meaning .definitions {
  font-size: 20px;
}
